{% include 'header.html' %}
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('{{requested_post.img}}')"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ requested_post['title'] }}</h1>
              <h2 class="subheading">
                {{requested_post['subtitle']}}
              </h2>
              <span class="meta">
                Posted by
                <a href="#!">{{requested_post['author']}}</a>
                {{requested_post['date']}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Post Content-->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>
             {{requested_post['body']}}
            </p>
          </div>
        </div>
      </div>
    </article>
    <hr />
    <!-- Footer-->
   {% include "footer.html" %}
</html>
